body{
     background-color: #d7fff12a;
     font-family: 'Lato', sans-serif;
}

span{
     color: #F5B963;
}

img{
     width: 100%;
}
/* NAVEGACION */

.navegacion-texto{
     position: fixed;
     width: 100%;
     text-transform: uppercase;
     color:black;
     display: flex;
     align-items: center;
     justify-content: space-around;
     background-color: #fff;
     z-index: 100000;
}

.sticky{
     position: fixed;
     width: 100%;
     background-color: #fff;
}

.sticky .navegacion-texto{
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.navegacion-texto_links{
     display: flex;
     gap: 3rem;
}
.navegacion-texto_links a{
     color:black;
}

.backGroundNavegador, .testimoniales{
     
     background-image: url(/assets/img/Hero\ section.jpg);
     filter: brightness(50%);
     background-position: center;
     background-size: cover;
     background-size: 100%;
     width: 100%;
     height: 51rem;
}

.InformacionNomada, .testimoniales-texto{
     position: absolute;
     top: 50%;
     left: 5rem;
     margin: auto;
     display: flex;
     flex-direction: column;
     text-align: left;
     justify-content: space-between;
     color: #fff;
}

.InformacionNomada h3{
     font-size: 3rem;
     text-transform: uppercase;
}   

.InformacionNomada p, .testimoniales-texto p{
     width: 60%;
     margin-top: 2rem;
}   

/* BUSCADOR DE VIAJES */

.buscadorViaje{
     position: relative;
     width: 80%;
     margin: auto;
     background-color: #fff;
     padding: 5rem;
     margin-top: -4rem;
     -webkit-box-shadow: 0px 10px 33px 0px rgba(0,0,0,0.75);
     -moz-box-shadow: 0px 10px 33px 0px rgba(0,0,0,0.75);
     box-shadow: 0px 10px 33px 0px rgba(0,0,0,0.75);
}

.buscadorViaje button{
     transition: .5s;
     width: 100%;
     cursor: pointer;
}
.buscadorViaje button:hover{
     transform: scale(1.1);
}


/* CARTAS VISUAL */

.descubre-Cartas{
     background-color: #fff;
     width: 100%;
     margin: auto;
     padding: 5rem;
     margin-top: 3.5rem;
     margin-bottom: 5rem;
     padding-bottom: 0;

}

.descubre-Cartas h3{
     margin-bottom: 2rem;
}
.descubre-Cartas p{
     margin-bottom: 2.2rem;
     border-bottom: rgba(0, 0, 0, 0.1) solid 1px;
}

.descubre-Carta{
     width: 90%;
     margin: auto;
     display: flex;
     align-items: center;
     gap: 5rem;
     justify-content: center;
}



.descubre-Carta-lista{
     display: flex;
     flex-direction: column;
     background-color: #2B3030;
     color: white;
     width: 30%;
     border-radius: 20px;
     transition: 1.5s;
     cursor: pointer;
}

.descubre-Carta-lista:hover{
     width: 32%;

}

.descubre-Carta_texto{
     padding: 1rem;
}


/* Quienes Somos */

.quienes-somos{
     display: grid;
     grid-template-columns: 1fr 1fr;
     margin: auto;
     padding: 5rem;
}

.quienes-somos_texto{
     display: flex;
     flex-direction: column;
     width: 50%;
     margin: auto;
}
.quienes-somos_texto h3{
     margin-bottom: 2rem;
     line-height: 3rem;
     border-bottom: rgba(0, 0, 0, 0.1) solid 1px;
}

.quienes-somos_video{
     width: 100%;
}

.footer-top{
     background-image: url( ../img/Top\ footer.png );
     background-position: center; 
     background-repeat: no-repeat;
     background-size: cover;
     position: relative;
     height: 50rem;
     color: white;
     display: flex;
     align-items: center;
     justify-content: space-around;
}

.footer-bottom{
     width: 100%;
     background-color: #0C1011;
     color: white;
     display: flex;
     justify-content: space-around;
     padding: 5rem;
     text-transform: uppercase;
}

.btn-verde{
     padding: 1.5rem;
     background-color: #F4BD4F;
     border: none;

}


@media (max-width: 425px){
  
     .navegacion-texto, .sticky{
          position: relative;
          width: 100%;
          height: 30rem;
          display: flex;
          align-items: center;
          flex-direction: column;
          text-align: center;

     }


     .navegacion-texto_links{
          display: block;
          padding: 0;
          margin: 0;
     }
     .navegacion-texto_links li{
          margin: 2rem;
     }

     .backGroundNavegador, .testimoniales{
          position: relative;
          background-image: url(/assets/img/Hero\ section.jpg);
          filter: brightness(50%);
          background-position: center;
          background-size: cover;
          width: 100%;
          height: 50rem;
     }

     .InformacionNomada, .testimoniales-texto{
          position: absolute;
          top: 70%;
          left: 0;
          text-align: center; 
     }

     .InformacionNomada h3{
          font-size: 3rem;
          width: 90%;
          margin: 2rem;
          line-height: 4rem;
     }   

     .InformacionNomada p, .testimoniales-texto p{
               width: 90%;
               margin: auto;
     }   

     /* BUSCADOR DE VIAJES */

     .buscadorViaje{
          width: 95%;
          padding: 2rem;
          margin-bottom: 2rem;
     }


     /* CARTAS VISUAL */

     .descubre-Cartas{
          width: 100%;
          margin: auto;
          padding: .5rem;   
     }

     .descubre-Cartas h3{
          line-height: 4rem;
          text-align: center;
     }
     .descubre-Cartas p{
          text-align: center;
     }

     .descubre-Carta{
          width: 100%;
          margin: auto;
          display: block;
     }


     .descubre-Carta-lista{
          display: block;
          border: solid;
          background-color: #2B3030;
          color: white;
          width: 100%;
          border-radius: 20px;
          margin-bottom: 2rem;

     }
     .descubre-Carta-lista:hover{
          width: 100%;
     }
     .descubre-Carta_texto{
          padding: 1rem;
     }


     /* Quienes Somos */

     .quienes-somos{
          display: block;
          padding: 2rem;
          margin: auto;
          
     }

     .quienes-somos_texto{
          display: block;
          width: 95%;
          margin: auto;
     }


     .quienes-somos_video{
          display: none;
     }



     .footer-top{
          background-image: url( ../img/Top\ footer.png );
          background-position: center; 
          background-repeat: no-repeat;
          background-size: cover;
          position: relative;
          height: 80rem;
          color: white;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;
     }

     .footer-bottom{
          margin-top: -5rem;
          flex-direction: column;
          align-self: center;
          text-align: center;
     }

     .footer-texto{
          width: 90%;
          text-align: center;
          
     }
     .footer-texto h3{
          line-height: 5rem;
          margin-bottom: 2rem;

     }
     .footer-texto p{
          line-height: 3rem;
          
     }



} 